* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #009A73;
}

li {
    list-style-type: none;
}

section,
footer {
    padding: 7rem 5rem;
}

body {
    background-image: url(./images/bg_main.png);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.section-bg {
    background-color: #F3F3F3;
}

.header {
    padding: 1rem 4rem 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 148px;
}

.header_nav {
    display: flex;
    gap: 2rem;
}

#menu {
    display: none;
}

.nav-img {
    width: 24px;
    cursor: pointer;
}

.modal_menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF70;
    position: fixed;
    justify-content: space-between;
    z-index: 10;
    display: none;
    flex-direction: column;
}

.modal_menu-bg {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    width: 100%;
    height: auto;
    padding: 1.5rem 4rem;
}

.modal_menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    width: 100%;
}

.modal-btn-back {
    cursor: pointer;
}

.header_nav_text,
.header_nav_link {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: #000000;
}

.btn_green {
    background-color: #009A73;
    border: 3px solid #009A73;
    padding: 0.625rem 1.5rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
}

.btn_green:hover {
    background-color: #FFFFFF;
    color: #009A73;
}

.hero {
    padding: 3rem 5rem 7rem 5rem;
}

.hero_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.688rem;
    padding: 5.75rem 0;
}

.hero_over-title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 112%;
    text-align: center;
    letter-spacing: -0.6px;

}

.hero_title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 120%;
    letter-spacing: -2.6px;
    text-align: center;
    text-transform: uppercase;
}

.hero_under-title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 150%;
    text-align: center;
    width: 50%;
}

.arrow-img {
    width: 36px;
}

.btn {
    background-color: initial;
    border: 3px solid #009A73;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    gap: 1.125rem;
    padding: 0.313rem;
    position: relative;
}

.btn:hover .arrow-img {
    animation:
        .8s linear 0s infinite alternate move
}


@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-8px);
    }
}



.btn a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.btn-text {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
    color: #000000;
    padding-left: 1.25rem;
}

.hero_container-pics {
    display: flex;
    gap: 5rem;
}

.hero-pic-wrapper {
    width: 46.7%;
}

.hero-pic {
    width: 100%;
    border-radius: 40px;
}

.goods {
    display: flex;
    gap: 5rem;
    flex-direction: column;
}

.goods_container-group {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.goods_text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.goods_title-over {
    color: #000000;
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
}

.goods_title-container {
    display: flex;
    align-items: baseline;
    gap: 0.563rem;
}

.goods_title {
    color: #000000;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 120%;
    letter-spacing: -1px;
}

.goods_title-img {
    width: 26px;
}

.text {
    color: #000000;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 145%;
}

.cards_goods {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.card_goods {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.card_goods-img {
    width: 400px;
    border-radius: 20px;
}

.card_goods-name {
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
    color: #000000;
}

.card_goods-price {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 150%;
    color: #000000;
}



.advantages {
    gap: 5rem;
    display: flex;
}

.advantages_container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.advantages-img {
    width: 600px;
    border-radius: 20px;
}

.advantages_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.5rem 0;
}

.advantages_card {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.advantages_green-text {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 120%;
    letter-spacing: -0.6px;
    color: #009A73;
}

.text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0%;
    color: #000000;
}




.patent {
    display: flex;
    flex-direction: column;
    gap: 98px;
}

.patent-title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 112.00000000000001%;
    letter-spacing: -2%;
    color: #000000;
}

.patent-dash_img {
    width: 148px;
    border-radius: 80px;
}

.patent_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.patent_cards {
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
}

.patent_card {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.patent_card-img {
    width: 24px;
}

.patent_card-text {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 112.00000000000001%;
    letter-spacing: -1%;
    color: #000000;
}

.patent_container-img {
    position: relative;
    font-size: 0;
}

.patent-img {
    width: 224px;
    border-radius: 20px;
    box-shadow: 0px 3px 3px 1px rgba(233, 233, 233, 0.4);
}

.patent-img5,
.patent-img2,
.patent-img3,
.patent-img4 {
    position: absolute;
}

.patent-img1 {
    right: 0;
    z-index: 10;
    position: relative;
}

.patent-img2 {
    right: 36%;
    z-index: 8;
}

.patent-img3 {
    right: 72%;
    z-index: 6;
}

.patent-img4 {
    right: 108%;
    z-index: 4;
}

.patent-img5 {
    right: 144%;
    z-index: 2;
}




.information {
    gap: 7.5rem;
    display: flex;
    flex-direction: column;
}

.information-group {
    display: flex;
    gap: 5rem;
}

.information-img {
    width: 600px;
    border-radius: 40px;
    border: 2px solid #eeeeee;
}

.information_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info_title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 120%;
    letter-spacing: -2%;
    color: #000000;
}

.information_container-text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.information-text {
    color: #000000;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 146%;
    letter-spacing: 0%;
}

.information-text-bold {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 146%;
    letter-spacing: 0%;
    color: #000000;
}

.information_cards {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.information_card {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.information_card-img {
    width: 20px;
}

.information_card-text {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 146%;
    letter-spacing: 0%;
    color: #000000;
}




.delivery {
    display: flex;
    gap: 5rem;
}

.delivery_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
}

.delivery_img-container {
    display: flex;
    flex-direction: column;
    gap: 2.625rem;
}

.delivery_img-container img {
    filter: grayscale(1);
    transition: filter 0.2s ease;
}

.delivery_img-container img:hover {
    filter: grayscale(0);
}

.delivery_card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.625rem;
    width: 50%;
}

.delivery_card {
    padding: 1.5rem;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.delivery_card-main {
    width: 100%;
    padding: 1.5rem;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.delivery_card-main>.delivery_card {
    padding: 0;
}

.delivery_card-text-underline {
    text-decoration: underline;
}

.delivery_card-img {
    width: 115px;
}

.delivery_card-title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: -2%;
    color: #000000;
}

.delivery_card-text,
.delivery_card-text-bold {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 140%;
    letter-spacing: 0%;
}

.delivery_card-text-bold {
    font-weight: 500;
}

.delivery_card-width {
    width: 47%;
    height: 249px;
}

.delivery_img-ozon {
    width: 212px;
}

.delivery_img-yandex {
    width: 370px;
}

.form-bg {
    background-image: url(./images/form-bg.webp);
    background-position: center;
    background-size: cover;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.order_text-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order_text {
    text-align: center;
}

.order_form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.688rem;
}

form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-name,
.input-phone {
    border: 1px solid #EBEDF0;
    background-color: #EBEDF0;
    opacity: 1;
    padding: 1rem 1.5rem;
    border-radius: 50px;
}

.input-name::placeholder,
.input-phone::placeholder {
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0%;
}

.btn_order {
    font-size: 1rem;
    align-items: center;
    display: flex;
}

.check-container {
    display: flex;
    gap: 0.313rem;
    max-width: 610px;
}

.check-text,
.check-text_underline {
    font-weight: 300;
    font-size: 0.625rem;
    line-height: 112.00000000000001%;
    letter-spacing: 0;
    color: #000000;
}

.check-text_underline {
    text-decoration: underline;
}



.contacts {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.contacts_container {
    display: flex;
    justify-content: space-between;
}

.contacts_title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: -2%;
    color: #000000;
}

.contacts_container-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contacts_info {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.contacts_container-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-icon {
    width: 24px;
}

.contacts_text-bold {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 140%;
    letter-spacing: 0%;
}

.contacts_text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
}

.contact-us_container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.contact-us_phones {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-us_social {
    display: flex;
    gap: 1.25rem;
}

iframe {
    border-radius: 40px;
}




.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.partners_img {
    display: flex;
    align-items: center;
    gap: 5rem;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-232px * 12));
        transform: translateX(calc(-232px * 6));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-232px * 12));
        transform: translateX(calc(-232px * 3));
    }
}

.ticker {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

.clients_slider-track {
    -webkit-animation: scroll 20s linear infinite;
    animation: scroll 20s linear infinite;
    display: flex;
    align-items: center;
    width: calc(232px * 6);
}

.clients__slide {
    width: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    background-color: #134D3F;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.footer_container {
    display: flex;
    justify-content: space-between;
}

.footer_contacts-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text-white {
    color: #FFFFFF;
}

.footer_img-container {
    align-items: flex-end;
}

hr {
    border: 1px solid #FFFFFF;
}

.footer_info-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer_text-container {
    display: flex;
    justify-content: space-between;
}

.footer_info-text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0%;
}

.footer_text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
}









@media (min-width: 1441px) {

    section,
    footer {
        max-width: 1440px;
        margin: auto;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {

    .advantages-img,
    .information-img {
        width: 500px;
    }
}

@media (max-width: 1280px) {

    body {
        background-size: cover;
    }

    .header_nav {
        display: none;
    }

    #menu {
        display: flex;
    }

    .hero_under-title {
        width: 100%;
    }

    .hero-pic-wrapper {
        width: 47.7%;
    }

    .hero_container-pics {
        gap: 2.25rem;
    }

    .card_goods-img {
        width: 264px;
    }

    .advantages {
        flex-direction: column-reverse;
    }

    .patent-dash_img {
        width: 116px;
    }

    .patent-title {
        font-size: 2rem;
    }

    .patent_container {
        flex-direction: column-reverse;
        align-items: unset;
        gap: 2rem;
    }

    .patent_card-text {
        font-size: 1rem;
    }

    .patent_card-img {
        width: 12px;
    }

    .patent_container-img {
        overflow-x: scroll;
        display: flex;
        gap: 2rem;
    }

    .patent {
        gap: 3.75rem;
    }

    .patent-img5,
    .patent-img2,
    .patent-img3,
    .patent-img4 {
        position: static;
    }

    .patent-img {
        width: 141px;
    }

    .information-group {
        flex-direction: column-reverse;
    }

    .information-mob {
        flex-direction: column;
    }

    .delivery {
        flex-direction: column;
    }

    .delivery_card-container {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }

    .order_text-container {
        width: 100%;
    }

    .check-container {
        width: 80%;
    }


    .contacts_container,
    .partners {
        flex-direction: column;
    }

    .footer_container {
        flex-direction: column;
    }

}


@media (max-width: 790px) {

    .hero,
    section,
    footer {
        padding: 3.75rem 0.625rem;
    }

    .hero_container {
        padding: 0 0.625rem 5.438rem;
        gap: 0.5rem;
    }

    .header {
        padding: 1rem 0.625rem 0.625rem;
    }

    .logo {
        width: 96px;
    }

    .btn_green {
        font-size: 0.75rem;
        padding: 0.375rem 1.063rem;
    }

    .hero_over-title {
        font-size: 1rem;
    }

    .hero_title {
        font-size: 2.25rem;
    }

    .hero_under-title {
        font-size: 0.75rem;
    }

    .btn-text {
        font-size: 1.125rem;
        padding-left: 1rem;
    }

    .arrow-img {
        width: 26px;
    }

    .btn {
        gap: 0.875rem;
    }

    .hero_container-pics {
        flex-direction: column;
    }

    .hero-pic-wrapper {
        width: 100%;
    }

    .goods_title-over {
        font-size: 0.625rem;
    }

    .goods_title {
        font-size: 2rem;
    }

    .goods_title-img {
        width: 16px;
    }

    .text,
    .card_goods-name {
        font-size: 0.75rem;
    }

    .card_goods-img {
        width: 164px;
    }

    .card_goods-price {
        font-size: 1rem;
    }

    .cards_goods {
        gap: 0.75rem;
    }

    .advantages_container {
        gap: 1rem;
    }

    .advantages_cards {
        gap: 1rem 0.75rem;
    }

    .advantages_green-text {
        font-size: 1.5rem;
    }

    .text {
        font-size: 0.75rem;
    }

    .advantages-img {
        width: 340px;
    }

    .information-img {
        width: 340px;
    }

    .info_title {
        font-size: 1.313rem;
    }

    .information-text {
        font-size: 0.75rem;
    }

    .information_card-img {
        width: 12px;
    }

    .information_card-text {
        font-size: 0.875rem;
    }

    .information_card {
        gap: 0.25rem;
    }

    .delivery_info {
        width: 100%;
    }

    .delivery_card-img {
        display: none;
    }

    .delivery_card-width {
        width: 100%;
        height: 132px;
    }

    .delivery_card-title {
        font-size: 1.25rem;
    }

    .delivery_card {
        padding: 1rem;
    }

    .delivery_card-text,
    .delivery_card-text-bold {
        font-size: 0.875rem;
    }

    form {
        flex-direction: column;
    }

}